*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
/*Colors*/
--bg-primary:#0B1120;
--bg-secondary:	#111827;
--text-primary:	#F8FAFC;
--text-secondary:	#94A3B8;
--accent-color:	#8B5CF6;
--accent-hover:	#A78BFA;
--border-color:	#1E293B;
--white-color:#FFFFFF;

/*Font Family*/
    --heading-font: "Sora", sans-serif;
    --body-font: "Inter", sans-serif;

/*Font Size*/
--font-size-xs: 0.75rem;                  /* 12px */
--font-size-sm: 0.875rem;                 /* 14px */
--font-size-base: 1rem;                   /* 16px */
--font-size-md: 1.125rem;                 /* 18px */
--font-size-lg: clamp(1.25rem, 2vw, 1.5rem);     /* 20px → 24px */
--font-size-xl: clamp(2rem, 4vw, 3rem);          /* 32px → 48px */
--font-size-2xl: clamp(3rem, 6vw, 5rem);         /* 48px → 80px */


/*Font Weights */

--font-weight-light: 300;
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

    /*Border radius*/
 --border-radius-s: 8px;
--border-radius-m: 16px;
--border-radius-l: 24px;
--border-radius-circle: 50%;

        /* Line Heights */
    --line-height-body:1.6;
    --line-height-heading:1.2;

    /*site max width */
    --site-max-width:1200px
}

/*Styling for the whole site*/
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
html{
    scroll-behavior: smooth;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}


/*Header / Navbar Styling */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-primary);
    z-index: 1000;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.header-title{
    color: var(--white-color);
    font-family: var(--heading-font);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}
.header-title span{
    color: var(--accent-color);
}

.nav-menu{
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav-menu .nav-list{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar .nav-list .nav-link{
    padding: 12px 20px;
     color: var(--white-color);
     font-family: var(--body-font);
}
